{% include 'navbar.html' %}

<body style="background-color: #150625; color: yellow;">
</body>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1>About Me</h1>
      <p>
        I am a software developer who is constantly learning about newer and efficient ways to construct code and programs.
        In my off time, I am always learning ways on how to improve and optimize my programming.
        I am also an avid fan of pop culture such as animanga and video games!
      </p>
      <h2>Education</h2>
      <p>
        BS in Computer Science, University of Memphis (2021-2025)
      </p>
      <h2>Skills</h2>
      <ul>
        <li>Python</li>
        <li>JavaScript</li>
        <li>C/C++</li>
        <li>Ruby on Rails</li>
        <li>HTML/CSS</li>
        <li>Live2D</li>
      </ul>
      <h2>Achievements</h2>
      <ul>
        <li>Won first place in a hackathon competition by developing a mobile app for disaster response</li>
        <li>Developed a web application for a local nonprofit organization</li>
        <li>Earned certifications in Agile software development methodologies (e.g., Certified ScrumMaster) and AWS cloud computing</li>
      </ul>
    </div>
  </div>
</div>

