{% include 'navbar.html' %}

<body style="background-color: #150625; color: yellow;">
</body>

<div class="container">
  <h1>Contact Me</h1>
  <p>
    Feel free to send a message to the email: <strong>alex@example.com</strong>, or call this number: <strong>901-123-4567</strong>
  </p>
  <p>
    and also contact me on these following social platforms:
    <ul>
      <li><strong><a href="https://www.facebook.com/" target="_blank">Facebook</a></strong></li>
      <li><strong><a href="https://www.x.com/" target="_blank">X (formerly Twitter)</a></strong></li>
      <li><strong><a href="https://www.instagram.com/" target="_blank">Instagram</a></strong></li>
      <li><strong><a href="https://linkedin.com" target="_blank">LinkedIn</a></strong></li>
      <li><strong><a href="https://github.com" target="_blank">GitHub</a></strong></li>
    </ul>
  </p>
 
