{% include 'navbar.html' %}

<body style="background-color: #150625; color: yellow;">
</body>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center">
      <h1>Welcome to My Portfolio</h1>
      <p class="lead">I hope you enjoy the portfolio!</p>
      <p>
        Hello, and welcome to my portfolio! I am currently a hardworking and aspiring student at the University of Memphis, majoring in computer science.
        This site serves as a portfolio where I can archive and display my projects and achievements. In my program, I've learned and developed
        valuable skills in various programming languages including Python, C/C++ and JavaScript as well as frameworks like Django and Ruby.
      </p>
      <p>
        Use the links in the navigation bar above to explore this portfolio and get in touch if you'd like!
      </p>
    </div>
  </div>
</div>