{% include 'navbar.html' %}
{% load static %}

<body style="background-color: #150625; color: yellow;">
</body>

<div class="container">
  <h1>My Works</h1>
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card">
        <h2 class="card-title">1. Artificial Intelligence Project: Arona</h2>
        <img src="{% static 'images/Arona.jpg' %}" class="img1 card-img-top" alt="Project 1">
        <div class="card-body">
          <p class="card-text">Summary: Developed an interactive AI model named Arona for worldwide use, and is constantly being improved daily.</p>
          <h3>Project Accomplishments:</h3>
          <ul>
            <li>Created and implemented advanced human-like machine learning techniques</li>
            <li>Created a portable platform device for Arona to be used on named the Shittim Chest</li>
          </ul>
          <h3>Technologies Used</h3>
          <ul>
            <li>Python</li>
            <li>Nexus Repository</li>
            <li>Live2D Cubism (for Arona's appearance)</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card">
        <h2 class="card-title">2. Blue Archive Game Development</h2>
        <img src="{% static 'images/Blue-Archive-gameplay.jpg' %}" class="img1 card-img-top" alt="Project 2">
        <div class="card-body">
          <p class="card-text">Aided in developing popular mobile gacha games, particularly Blue Archive.</p>
          <h3>Project Accomplishments:</h3>
          <ul>
            <li>Created an enjoyable and dynamic gameplay experience</li>
            <li>Fixed and optimized various bugs and errors in both gameplay and user interface.</li>
          </ul>
          <h3>Technologies Used</h3>
          <ul>
            <li>Unity</li>
            <li>C#</li>
            <li>JavaScript (for UI)</li>
            <li>PostgreSQL</li>
            <li>Live2D Cubism</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card">
        <h2 class="card-title">3. MomoTalk Chat App</h2>
        <img src="{% static 'images/Momotalk.jpg' %}" class="img1 card-img-top" alt="Project 3">
        <div class="card-body">
          <p class="card-text">Developed a chat-based social media similar to Discord named MomoTalk.</p>
          <h3>Project Accomplishments:</h3>
          <ul>
            <li>Created a cross-platform UI for users</li>
            <li>Implemented multimedia uploading capabilities</li>
          </ul>
          <h3>Technologies Used</h3>
          <ul>
            <li>JavaScript (Node.js)</li>
            <li>HTML/CSS</li>
            <li>React Native</li>
            <li>WebSockets</li>
            <li>GraphQL</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .card-img-top {
    width: 50%;
    height: auto;
  }
  .card-title {
    font-size: 30px;
  }
</style>
